<?xml version="1.0"?>
<robot name="GS_arm"  xmlns:xacro= "http://www.ros.org/wiki/xacro">

<xacro:include filename="GS_arm.urdf.xacro"/>

<xacro:include filename="GS_arm_ros2_control.xacro"/>

<xacro:include filename="GS_arm_gazebo.xacro"/>

<xacro:include filename="GS_arm_controller.xacro"/>


</robot>
