<?xml version="1.0"?>
<robot name="GS_arm" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo reference="part_1">
        <material>Gazebo/Blue</material>
    </gazebo>
    <gazebo reference="part_2">
        <material>Gazebo/Red</material>
    </gazebo>
    <gazebo reference="arm_l2">
        <material>Gazebo/Green</material>
    </gazebo>
    <gazebo reference="part_4">
        <material>Gazebo/White</material>
    </gazebo>
    <gazebo reference="part_5">
        <material>Gazebo/Gray</material>
    </gazebo>

    <gazebo reference="part_9">
        <material>Gazebo/Cyan</material>
    </gazebo>
    <gazebo reference="part_9_2">
        <material>Gazebo/Cyan</material>
    </gazebo>



    <gazebo reference="cam_link_oriented">
        <material>Gazebo/Yellow</material>
        <sensor name ="camera_sensor" type="camera">
            <pose> 0 0 0 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>10.0</update_rate>

            <!-- <camera> there can be many parameters in the camera tag but now not going to use it</camera> -->

            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">

                <frame_name>cam_link_oriented</frame_name>

            </plugin>

        </sensor>
    </gazebo>




    <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">

        <robot_param>robot_description</robot_param>
        <robot_param_node>robot_state_publisher</robot_param_node>
        <parameters>$(find arm_controller_pkg)/config/arm_controller_ros2.yaml</parameters>

    </plugin>
    </gazebo>


</robot>
