<?xml version="1.0"?>
<robot name="gg_hex"  xmlns:xacro= "http://www.ros.org/wiki/xacro">

<xacro:include filename="/home/nobel/Gujrat_Government_Hexapod/gg_hexapod_ws/src/gg_hex_description/simple_hex/robot.urdf.xacro"/>

<xacro:include filename="gg_sim_ros2_control.xacro"/>

<xacro:include filename="gg_sim_gazebo.xacro"/>

<xacro:include filename="gg_sim_controller.xacro"/>


</robot>