<?xml version="1.0"?>
<robot name="gg_hex"  xmlns:xacro= "http://www.ros.org/wiki/xacro">

    <xacro:property name="limlow" value="-3.4"/>
    <xacro:property name="limhigh" value="3.4"/>

    <ros2_control name="RobotSystem" type="system">
        <hardware>
            <plugin >gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>







        
        <joint name="joint1" >
            <command_interface name="position">
                <param name="min">${limlow}</param>
                <param name="max">${limhigh}</param>
            </command_interface>
            <state_interface name="position"/>

        </joint>

        <joint name="joint2" >
            <command_interface name="position">
                <param name="min">${limlow}</param>
                <param name="max">${limhigh}</param>
            </command_interface>
            <state_interface name="position"/>

        </joint>

        <joint name="joint3" >
            <command_interface name="position">
                <param name="min">${limlow}</param>
                <param name="max">${limhigh}</param>
            </command_interface>
            <state_interface name="position"/>

        </joint>

        <joint name="joint4" >
            <command_interface name="position">
                <param name="min">${limlow}</param>
                <param name="max">${limhigh}</param>
            </command_interface>
            <state_interface name="position"/>

        </joint>









        <joint name="joint11" >
            <command_interface name="position">
                <param name="min">${limlow}</param>
                <param name="max">${limhigh}</param>
            </command_interface>
            <state_interface name="position"/>

        </joint>

        <joint name="joint21" >
            <command_interface name="position">
                <param name="min">${limlow}</param>
                <param name="max">${limhigh}</param>
            </command_interface>
            <state_interface name="position"/>

        </joint>

        <joint name="joint31" >
            <command_interface name="position">
                <param name="min">${limlow}</param>
                <param name="max">${limhigh}</param>
            </command_interface>
            <state_interface name="position"/>

        </joint>

        <joint name="joint41" >
            <command_interface name="position">
                <param name="min">${limlow}</param>
                <param name="max">${limhigh}</param>
            </command_interface>
            <state_interface name="position"/>

        </joint>








        <joint name="joint12" >
            <command_interface name="position">
                <param name="min">${limlow}</param>
                <param name="max">${limhigh}</param>
            </command_interface>
            <state_interface name="position"/>

        </joint>

        <joint name="joint22" >
            <command_interface name="position">
                <param name="min">${limlow}</param>
                <param name="max">${limhigh}</param>
            </command_interface>
            <state_interface name="position"/>

        </joint>

        <joint name="joint32" >
            <command_interface name="position">
                <param name="min">${limlow}</param>
                <param name="max">${limhigh}</param>
            </command_interface>
            <state_interface name="position"/>

        </joint>

        <joint name="joint42" >
            <command_interface name="position">
                <param name="min">${limlow}</param>
                <param name="max">${limhigh}</param>
            </command_interface>
            <state_interface name="position"/>

        </joint>










        <joint name="joint1r" >
            <command_interface name="position">
                <param name="min">${limlow}</param>
                <param name="max">${limhigh}</param>
            </command_interface>
            <state_interface name="position"/>

        </joint>

        <joint name="joint2r" >
            <command_interface name="position">
                <param name="min">${limlow}</param>
                <param name="max">${limhigh}</param>
            </command_interface>
            <state_interface name="position"/>

        </joint>

        <joint name="joint3r" >
            <command_interface name="position">
                <param name="min">${limlow}</param>
                <param name="max">${limhigh}</param>
            </command_interface>
            <state_interface name="position"/>

        </joint>

        <joint name="joint4r" >
            <command_interface name="position">
                <param name="min">${limlow}</param>
                <param name="max">${limhigh}</param>
            </command_interface>
            <state_interface name="position"/>

        </joint>









        <joint name="joint1r1" >
            <command_interface name="position">
                <param name="min">${limlow}</param>
                <param name="max">${limhigh}</param>
            </command_interface>
            <state_interface name="position"/>

        </joint>

        <joint name="joint2r1" >
            <command_interface name="position">
                <param name="min">${limlow}</param>
                <param name="max">${limhigh}</param>
            </command_interface>
            <state_interface name="position"/>

        </joint>

        <joint name="joint3r1" >
            <command_interface name="position">
                <param name="min">${limlow}</param>
                <param name="max">${limhigh}</param>
            </command_interface>
            <state_interface name="position"/>

        </joint>

        <joint name="joint4r1" >
            <command_interface name="position">
                <param name="min">${limlow}</param>
                <param name="max">${limhigh}</param>
            </command_interface>
            <state_interface name="position"/>

        </joint>










        <joint name="joint1r2" >
            <command_interface name="position">
                <param name="min">${limlow}</param>
                <param name="max">${limhigh}</param>
            </command_interface>
            <state_interface name="position"/>

        </joint>

        <joint name="joint2r2" >
            <command_interface name="position">
                <param name="min">${limlow}</param>
                <param name="max">${limhigh}</param>
            </command_interface>
            <state_interface name="position"/>

        </joint>

        <joint name="joint3r2" >
            <command_interface name="position">
                <param name="min">${limlow}</param>
                <param name="max">${limhigh}</param>
            </command_interface>
            <state_interface name="position"/>

        </joint>

        <joint name="joint4r2" >
            <command_interface name="position">
                <param name="min">${limlow}</param>
                <param name="max">${limhigh}</param>
            </command_interface>
            <state_interface name="position"/>

        </joint>










 
    </ros2_control>




</robot>